@import url("https://fonts.googleapis.com/css2?family=Inter&family=Saira+Condensed:wght@500&display=swap");

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}

button {
  background: rgba(69, 69, 231, 0.986);
  color: rgb(245, 240, 240);
  font-weight: 700;
  border-radius: 15px;
  font-size: 1rem;
  padding: 13px 8px;
  margin: 5px;
  
}
li {
  list-style: none;

}
p {
  font-size: 0.8rem;
}
body {
  min-height: 100vh;
  background: rgb(29, 29, 29);
  color: rgb(250, 250, 250);
}
nav {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 10px 20px
}
nav ul {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}
header{
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px auto;
}

.header-left {
  width: 80%;
}
.header-left-container h2 {
font-size: 5rem;
}

.header-left-container h3 {
  font-size: 1.8rem;
  color: rgba(69, 69, 231, 0.986);
}
.header-right{
  width: 100%;
}
#modem {
  width: 90%;
}

.infos{
  display: grid;
  grid-template-columns:30% 70%;
  background: rgb(10, 10, 10);
}
.info-left h4 {
  font-size: 1.5rem;
 
}
.btn-container{
  display: grid;
  grid-template-rows:33% 33% 33% ;
  width: 40%;
  padding: 5px;
  margin-left: 5px;
}

.info-right h5{
  font-size: 1.5rem;
}

.img-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.img-container img{
  width: 40%;
  margin:40px auto;
}
